obj
bin
Bin
deploy
deploy/*
build
build/*
publish
publish/*
_ReSharper.*
*.bak
*.cache
*.csproj.user
*.dll
*.pdb
*.licx
*.log
*.resharper.user
*.resharper
*.suo
*.swp
*.user
Thumbs.db
*.usertasks
*.userprefs
*.zip
~$*
TestResults
TestResults/*
