<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
	
	<appSettings>
	
		<add key="UtilsBaseFolder" value="..\..\" />
		<add key="CommandGeneratorXSLPath" value="CommandGenerator\xsl" />
		<!-- Next key is ignored by app at the moment -->
		<add key="CommandGeneratorFileName" value="CommandGenerator\output\Commands.cs" />
	</appSettings>

</configuration>