SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetAreas]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetAreas]
GO






CREATE PROCEDURE dbo.GetAreas
(
	@MetaSize int
)

AS

CREATE TABLE #Groups
	(GroupStart int,
	GroupEnd int)
	
	




	
DROP TABLE #Groups



	RETURN 






GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

