SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PO_DeleteUserRole]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[PO_DeleteUserRole]
GO




CREATE PROCEDURE PO_DeleteUserRole
(
    @UserID int,
    @RoleID int
)
AS
DELETE FROM
    PO_UserRoles
WHERE
    UserID=@UserID
    AND
    RoleID=@RoleID




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

