SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PO_GetPortalRoles]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[PO_GetPortalRoles]
GO




CREATE PROCEDURE PO_GetPortalRoles
(
    @PortalID  int
)
AS
SELECT  
    RoleName,
    RoleID
FROM
    PO_Roles
WHERE   
    PortalID = @PortalID




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

