SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[UpdateTerrain]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[UpdateTerrain]
GO







CREATE  PROCEDURE dbo.UpdateTerrain
	(
@TerrainInstanceID INT, @AreaID int, @TemplateObjectName nvarchar(16), @ResourceID int, @PlayerID int,
@EnumTerrainTypeID int,
@X float, @Y float, @Z float,
@RotationX float, @RotationY float, @RotationZ float
	)
AS
	declare @TemplateObjectID int
	SET NOCOUNT ON
	SET XACT_ABORT ON
	begin transaction
	
	SELECT @TemplateObjectID = TemplateObjectID
	FROM ObjectInstance
	WHERE ObjectInstanceID = @TerrainInstanceID
	
	UPDATE TemplateObject
	SET TemplateObjectName = @TemplateObjectName,
		ResourceID = @ResourceID,
		PlayerID = @PlayerID,
		LastUpdatedBy = @PlayerID
	WHERE TemplateObjectID = @TemplateObjectID
	
	UPDATE TemplateTerrain
	SET AreaID = @AreaID, EnumTerrainTypeID = @EnumTerrainTypeID
	WHERE TemplateObjectID = @TemplateObjectID
	
	UPDATE ObjectInstance
	SET X = @X,
		Y = @Y,
		Z = @Z,
		RotationX = @RotationX,
		RotationY = @RotationY,
		RotationZ = @RotationZ
	WHERE ObjectInstance.ObjectInstanceID = @TerrainInstanceID
	commit
	RETURN 








GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

