SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PO_GetAnnouncements]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[PO_GetAnnouncements]
GO




CREATE PROCEDURE PO_GetAnnouncements
(
    @ModuleID int
)
AS
SELECT TOP 3
    ItemID,
    CreatedByUser,
    CreatedDate,
    Title,
    MoreLink,
    MobileMoreLink,
    ExpireDate,
    Description
FROM 
    PO_Announcements
WHERE
    ModuleID = @ModuleID
-- umg who would want an expiry date???
--  AND
--    ExpireDate > GetDate()
ORDER BY CreatedDate DESC




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

