SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PO_GetEvents]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[PO_GetEvents]
GO




CREATE PROCEDURE PO_GetEvents
(
    @ModuleID int
)
AS
SELECT
    ItemID,
    Title,
    CreatedByUser,
    WhereWhen,
    CreatedDate,
    Title,
    ExpireDate,
    Description
FROM
    PO_Events
WHERE
    ModuleID = @ModuleID
  AND
    ExpireDate > GetDate()




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

