SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PO_UpdatePortalInfo]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[PO_UpdatePortalInfo]
GO




CREATE PROCEDURE PO_UpdatePortalInfo
(
    @PortalID           int,
    @PortalName         nvarchar(50),
    @AlwaysShowEditButton bit 
)
AS
UPDATE
    PO_Portals
SET
    PortalName = @PortalName,
    AlwaysShowEditButton = @AlwaysShowEditButton
WHERE
    PortalID = @PortalID




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

