SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ActivatePlayer]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ActivatePlayer]
GO





CREATE  PROCEDURE dbo.ActivatePlayer
(
	@PlayerKey UNIQUEIDENTIFIER
)
AS
IF EXISTS(SELECT *
	FROM Player
	WHERE PlayerKey = @PlayerKey)
BEGIN
	UPDATE Player
	SET PongedAt = GetUTCDate()
	WHERE PlayerKey = @PlayerKey
	DECLARE @PlayerID INT
	SELECT @PlayerID = PlayerID
	FROM Player
	WHERE PlayerKey = @PlayerKey
	SELECT @PlayerID
END
ELSE
BEGIN
	RAISERROR('There is no Player with the specified PlayerKey.', 14, 1)
END





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

