SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PO_AddTab]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[PO_AddTab]
GO




CREATE PROCEDURE PO_AddTab
(
    @PortalID   int,
    @TabName    nvarchar(50),
    @TabOrder   int,
    @AuthorizedRoles nvarchar (256),
    @MobileTabName nvarchar(50),
    @TabID      int OUTPUT
)
AS
INSERT INTO PO_Tabs
(
    PortalID,
    TabName,
    TabOrder,
    ShowMobile,
    MobileTabName,
    AuthorizedRoles
)
VALUES
(
    @PortalID,
    @TabName,
    @TabOrder,
    0, /* false */
    @MobileTabName,
    @AuthorizedRoles
)
SELECT
    @TabID = @@Identity




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

