SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[LowerTerrain]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[LowerTerrain]
GO


CREATE  PROCEDURE dbo.LowerTerrain
(
	@TerrainInstanceID INT
)

AS

UPDATE ObjectInstance
SET Y = Y - 1
WHERE ObjectInstanceID = @TerrainInstanceID

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

