SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PO_AddMessage]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[PO_AddMessage]
GO




CREATE PROCEDURE PO_AddMessage
(
    @ItemID int OUTPUT,
    @Title nvarchar(100),
    @Body nvarchar(3000),
    @ParentID int,
    @UserName nvarchar(100),
    @ModuleID int
)   
AS 
/* Find DisplayOrder of parent item */
DECLARE @ParentDisplayOrder as nvarchar(750)
SET @ParentDisplayOrder = ""
SELECT 
    @ParentDisplayOrder = DisplayOrder
FROM 
    PO_Discussion 
WHERE 
    ItemID = @ParentID
INSERT INTO PO_Discussion
(
    Title,
    Body,
    DisplayOrder,
    CreatedDate, 
    CreatedByUser,
    ModuleID
)
VALUES
(
    @Title,
    @Body,
    @ParentDisplayOrder + CONVERT( nvarchar(24), GetDate(), 21 ),
    GetDate(),
    @UserName,
    @ModuleID
)
SELECT 
    @ItemID = @@Identity




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

