SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PO_GetNextMessageID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[PO_GetNextMessageID]
GO




CREATE Procedure PO_GetNextMessageID
(
    @ItemID int,
    @NextID int OUTPUT
)
AS
DECLARE @CurrentDisplayOrder as nvarchar(750)
DECLARE @CurrentModule as int
/* Find DisplayOrder of current item */
SELECT
    @CurrentDisplayOrder = DisplayOrder,
    @CurrentModule = ModuleID
FROM
    PO_Discussion
WHERE
    ItemID = @ItemID
/* Get the next message in the same module */
SELECT Top 1
    @NextID = ItemID
FROM
    PO_Discussion
WHERE
    DisplayOrder > @CurrentDisplayOrder
    AND
    ModuleID = @CurrentModule
ORDER BY
    DisplayOrder ASC
/* end of this thread? */
IF @@Rowcount < 1
    SET @NextID = null




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

