SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PO_UpdateUser]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[PO_UpdateUser]
GO




CREATE PROCEDURE PO_UpdateUser
(
    @UserID        int,
    @Email           nvarchar(100),
    @Password    nvarchar(20)
)
AS
UPDATE
    Player
SET
    Email    = @Email,
    Password = @Password
WHERE
    PlayerID = @UserID




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

