SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PO_DeleteTab]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[PO_DeleteTab]
GO




CREATE PROCEDURE PO_DeleteTab
(
    @TabID int
)
AS
DELETE FROM
    PO_Tabs
WHERE
    TabID = @TabID




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

