SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PO_GetSingleModuleDefinition]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[PO_GetSingleModuleDefinition]
GO




CREATE PROCEDURE PO_GetSingleModuleDefinition
(
    @ModuleDefID int
)
AS
SELECT
    FriendlyName,
    DesktopSrc,
    MobileSrc
FROM
    PO_ModuleDefinitions
WHERE
    ModuleDefID = @ModuleDefID




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

