SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CreateModel]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[CreateModel]
GO




CREATE PROCEDURE CreateModel
(
	@ModelName NVARCHAR(50),
	@PlayerID INT,
	@ModelDescription NTEXT
)
AS
INSERT INTO Model
	(ModelName,
	PlayerID,
	[Description],
	CreationTime)
VALUES
	(@ModelName,
	@PlayerID,
	@ModelDescription,
	GetUTCDate())
DECLARE @ModelID INT
SET @ModelID = @@IDENTITY
SELECT @ModelID




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

