SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AreaSquareDetails]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AreaSquareDetails]
GO









CREATE    PROCEDURE dbo.AreaSquareDetails
(
	@AbstractionSize INT,
	@Offset INT
)
AS

-- stored proc starts here
DECLARE @NveOffset INT
SET @NveOffset = 0 - @Offset
-- this table is created to store the "groups" 
-- to do an effective outer join
CREATE TABLE #Groups
	(GroupID int IDENTITY (1, 1) NOT NULL,
	GroupXSimple int,
	GroupZSimple int,
	GroupXStart int,
	GroupXEnd int,
	GroupZStart int,
	GroupZEnd int)



EXEC CreateGroupsTable @AbstractionSize = @AbstractionSize, @AutomaticOffset=0, @LargestCoordX = @Offset, 
	@LargestCoordZ = @Offset, 
	@SmallestCoordX = @NveOffset, 
	@SmallestCoordZ = @NveOffset


SELECT #Groups.*,
	TemplateObject.TemplateObjectName,
	ObjectInstance.X,
	ObjectInstance.Y,
	ObjectInstance.Z
FROM #Groups 
	LEFT JOIN ObjectInstance
		INNER JOIN TemplateObject
			ON ObjectInstance.TemplateObjectID = TemplateObject.TemplateObjectID
		ON  ObjectInstance.X >= #Groups.GroupXStart
			AND ObjectInstance.X <= #Groups.GroupXEnd
			AND ObjectInstance.Z >= #Groups.GroupZStart
			AND ObjectInstance.Z <= #Groups.GroupZEnd

/*SELECT #Groups.GroupID,
	COUNT(ObjectInstance.ObjectInstanceID) As NumObjects
FROM #Groups
	LEFT JOIN ObjectInstance
		INNER JOIN TemplateObject
			ON ObjectInstance.TemplateObjectID = TemplateObject.TemplateObjectID
		ON ObjectInstance.X >= #Groups.GroupXStart
			AND ObjectInstance.X <= #Groups.GroupXStart
			AND ObjectInstance.Z >= #Groups.GroupZStart
			AND ObjectInstance.Z <= #Groups.GroupZStart
GROUP BY #Groups.GroupID*/
	
DROP TABLE #Groups









GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

