SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[TerrainSquareDetails]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[TerrainSquareDetails]
GO










CREATE     PROCEDURE dbo.TerrainSquareDetails
(
	@AbstractionSize INT,
	@Offset INT
)
AS

-- stored proc starts here
DECLARE @NveOffset INT
SET @NveOffset = 0 - @Offset

CREATE TABLE #Groups
	(GroupID int IDENTITY (1, 1) NOT NULL,
	GroupXSimple int,
	GroupZSimple int,
	GroupXStart int,
	GroupXEnd int,
	GroupZStart int,
	GroupZEnd int)

EXEC CreateGroupsTable @AbstractionSize = @AbstractionSize, @AutomaticOffset=0, @LargestCoordX = @Offset, 
	@LargestCoordZ = @Offset, 
	@SmallestCoordX = @NveOffset, 
	@SmallestCoordZ = @NveOffset

CREATE  INDEX [#IX_Groups_GroupXStartAndEndGroupZStartAndEnd] ON [dbo].[#Groups]([GroupXStart], [GroupXEnd], [GroupZStart], [GroupZEnd]) ON [PRIMARY]
CREATE  INDEX [#IX_Groups_GroupXStart] ON [dbo].[#Groups]([GroupXStart]) ON [PRIMARY]
CREATE  INDEX [#IX_Groups_GroupXEnd] ON [dbo].[#Groups]([GroupXEnd]) ON [PRIMARY]
CREATE  INDEX [#IX_Groups_GroupZStart] ON [dbo].[#Groups]([GroupZStart]) ON [PRIMARY]
CREATE  INDEX [#IX_Groups_GroupZEnd] ON [dbo].[#Groups]([GroupZEnd]) ON [PRIMARY]

SELECT #Groups.*,
CAST(1 AS BIT) AS [Contains]
FROM #Groups
	INNER JOIN ObjectInstance
		INNER JOIN TemplateTerrain
			ON ObjectInstance.TemplateObjectID = TemplateTerrain.TemplateObjectID
		INNER JOIN TemplateObject
			ON ObjectInstance.TemplateObjectID = TemplateObject.TemplateObjectID
		ON  ObjectInstance.X >= #Groups.GroupXStart
			AND ObjectInstance.X <= #Groups.GroupXEnd
			AND ObjectInstance.Z >= #Groups.GroupZStart
			AND ObjectInstance.Z <= #Groups.GroupZEnd
UNION
SELECT #Groups.*,
CAST(0 AS BIT) AS [Contains]
FROM #Groups
	LEFT JOIN ObjectInstance
		INNER JOIN TemplateTerrain
			ON ObjectInstance.TemplateObjectID = TemplateTerrain.TemplateObjectID
		INNER JOIN TemplateObject
			ON ObjectInstance.TemplateObjectID = TemplateObject.TemplateObjectID
		ON  ObjectInstance.X >= #Groups.GroupXStart
			AND ObjectInstance.X <= #Groups.GroupXEnd
			AND ObjectInstance.Z >= #Groups.GroupZStart
			AND ObjectInstance.Z <= #Groups.GroupZEnd
WHERE ObjectInstance.ObjectInstanceID IS NULL
ORDER BY #Groups.GroupID ASC

DROP TABLE #Groups











GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

