SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PO_GetModuleDefinitions]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[PO_GetModuleDefinitions]
GO




CREATE PROCEDURE PO_GetModuleDefinitions
(
    @PortalID  int
)
AS
SELECT  
    FriendlyName,
    DesktopSrc,
    MobileSrc,
    ModuleDefID
FROM
    PO_ModuleDefinitions
    
WHERE   
    PortalID = @PortalID




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

