SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PO_GetSingleUser]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[PO_GetSingleUser]
GO




CREATE  PROCEDURE PO_GetSingleUser
(
    @Email nvarchar(100)
)
AS
SELECT
    Email,
    Password,
    FirstName + ' ' + Surname AS Name
FROM
    Player
WHERE
    Email = @Email




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

