SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PO_GetSingleRole]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[PO_GetSingleRole]
GO




CREATE PROCEDURE PO_GetSingleRole
(
    @RoleID int
)
AS
SELECT
    RoleName
FROM
    PO_Roles
WHERE
    RoleID = @RoleID




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

