SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PO_UpdateModuleDefinition]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[PO_UpdateModuleDefinition]
GO




CREATE PROCEDURE PO_UpdateModuleDefinition
(
    @ModuleDefID   int,
    @FriendlyName  nvarchar(128),
    @DesktopSrc    nvarchar(256),
    @MobileSrc     nvarchar(256)
)
AS
UPDATE
    PO_ModuleDefinitions
SET
    FriendlyName = @FriendlyName,
    DesktopSrc   = @DesktopSrc,
    MobileSrc    = @MobileSrc
WHERE
    ModuleDefID = @ModuleDefID




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

