SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PO_GetPortalSettings]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[PO_GetPortalSettings]
GO




CREATE PROCEDURE PO_GetPortalSettings
(
    @PortalAlias   nvarchar(50),
    @TabID         int,
    @PortalID      int OUTPUT,
    @PortalName    nvarchar(128) OUTPUT,
    @AlwaysShowEditButton bit OUTPUT,
    @TabName       nvarchar (50)  OUTPUT,
    @TabOrder      int OUTPUT,
    @MobileTabName nvarchar (50)  OUTPUT,
    @AuthRoles     nvarchar (256) OUTPUT,
    @ShowMobile    bit OUTPUT
)
AS
/* First, get Out Params */
IF @TabID = 0 
    SELECT TOP 1
        @PortalID      = PO_Portals.PortalID,
        @PortalName    = PO_Portals.PortalName,
        @AlwaysShowEditButton = PO_Portals.AlwaysShowEditButton,
        @TabID         = PO_Tabs.TabID,
        @TabOrder      = PO_Tabs.TabOrder,
        @TabName       = PO_Tabs.TabName,
        @MobileTabName = PO_Tabs.MobileTabName,
        @AuthRoles     = PO_Tabs.AuthorizedRoles,
        @ShowMobile    = PO_Tabs.ShowMobile
    FROM
        PO_Tabs
    INNER JOIN
        PO_Portals ON PO_Tabs.PortalID = PO_Portals.PortalID
        
    WHERE
        PortalAlias=@PortalAlias
        
    ORDER BY
        TabOrder
ELSE 
    SELECT
        @PortalID      = PO_Portals.PortalID,
        @PortalName    = PO_Portals.PortalName,
        @AlwaysShowEditButton = PO_Portals.AlwaysShowEditButton,
        @TabName       = PO_Tabs.TabName,
        @TabOrder      = PO_Tabs.TabOrder,
        @MobileTabName = PO_Tabs.MobileTabName,
        @AuthRoles     = PO_Tabs.AuthorizedRoles,
        @ShowMobile    = PO_Tabs.ShowMobile
    FROM
        PO_Tabs
    INNER JOIN
        PO_Portals ON PO_Tabs.PortalID = PO_Portals.PortalID
        
    WHERE
        TabID=@TabID
/* Get Tabs list */
SELECT  
    TabName,
    AuthorizedRoles,
    TabID,
    TabOrder
    
FROM    
    PO_Tabs
    
WHERE   
    PortalID = @PortalID
    
ORDER BY
    TabOrder
/* Get Mobile Tabs list */
SELECT  
    MobileTabName,
    AuthorizedRoles,
    TabID,
    ShowMobile
    
FROM    
    PO_Tabs
    
WHERE   
    PortalID = @PortalID
  AND
    ShowMobile = 1
    
ORDER BY
    TabOrder
/* Then, get the DataTable of module info */
SELECT  
    *
    
FROM
    PO_Modules
  INNER JOIN
    PO_ModuleDefinitions ON PO_Modules.ModuleDefID = PO_ModuleDefinitions.ModuleDefID
    
WHERE   
    TabID = @TabID
    
ORDER BY
    ModuleOrder




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

