SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PO_GetHtmlText]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[PO_GetHtmlText]
GO




CREATE PROCEDURE PO_GetHtmlText
(
    @ModuleID int
)
AS
SELECT
    *
FROM
    PO_HtmlText
WHERE
    ModuleID = @ModuleID




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

