SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[EnumTerrainInSquare]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[EnumTerrainInSquare]
GO





CREATE   PROCEDURE EnumTerrainInSquare
(
	@SmallestCoordX INT,
	@SmallestCoordZ INT,
	@LargestCoordX INT,
	@LargestCoordZ INT
)
AS
CREATE TABLE #Groups
	(GroupID int IDENTITY (1, 1) NOT NULL,
	GroupXSimple int,
	GroupZSimple int,
	GroupXStart int,
	GroupXEnd int,
	GroupZStart int,
	GroupZEnd int)
EXEC CreateGroupsTable 100,
	0, 
	@LargestCoordX,
	@SmallestCoordX,
	@LargestCoordZ,
	@SmallestCoordZ 
--SELECT * FROM #Groups
PRINT(@LargestCoordX)
SELECT #Groups.*,
	ObjectInstance.ObjectInstanceID,
	TemplateObject.ResourceID,
	ObjectInstance.X,
	ObjectInstance.Y,
	ObjectInstance.Z,
	Resource.ResourceFileExtension
FROM #Groups
	LEFT JOIN ObjectInstance
		INNER JOIN TemplateTerrain
			ON ObjectInstance.TemplateObjectID = TemplateTerrain.TemplateObjectID
		INNER JOIN TemplateObject
			ON ObjectInstance.TemplateObjectID = TemplateObject.TemplateObjectID
		ON  ObjectInstance.X >= #Groups.GroupXStart
			AND ObjectInstance.X <= #Groups.GroupXEnd
			AND ObjectInstance.Z >= #Groups.GroupZStart
			AND ObjectInstance.Z <= #Groups.GroupZEnd
		INNER JOIN Resource
			ON TemplateObject.ResourceID = Resource.ResourceID




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

