SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[SelectPlayer]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[SelectPlayer]
GO





CREATE PROCEDURE dbo.SelectPlayer
(
	@PlayerID INT
)

AS

IF EXISTS(SELECT * 
	FROM Player
	WHERE PlayerID = @PlayerID )
BEGIN
	SELECT * 
	FROM Player
	WHERE PlayerID = @PlayerID
END
ELSE
BEGIN
	RAISERROR('Could not locate Player with PlayerID ''%d''', 14, 1, @PlayerID)
END







GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

