SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PO_UpdateTabOrder]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[PO_UpdateTabOrder]
GO




CREATE PROCEDURE PO_UpdateTabOrder
(
    @TabID           int,
    @TabOrder        int
)
AS
UPDATE
    PO_Tabs
SET
    TabOrder = @TabOrder
WHERE
    TabID = @TabID




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

