SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PO_DeleteModuleDefinition]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[PO_DeleteModuleDefinition]
GO




CREATE PROCEDURE PO_DeleteModuleDefinition
(
    @ModuleDefID int
)
AS
DELETE FROM
    PO_ModuleDefinitions
WHERE
    ModuleDefID = @ModuleDefID




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

