SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PO_UpdateModule]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[PO_UpdateModule]
GO




CREATE PROCEDURE PO_UpdateModule
(
    @ModuleID       int,
    @ModuleOrder    int,
    @ModuleTitle    nvarchar(256),
    @PaneName       nvarchar(50),
    @CacheTime      int,
    @EditRoles      nvarchar(256),
    @ShowMobile     bit
)
AS
UPDATE
    PO_Modules
SET
    ModuleOrder = @ModuleOrder,
    ModuleTitle = @ModuleTitle,
    PaneName    = @PaneName,
    CacheTime   = @CacheTime,
    ShowMobile  = @ShowMobile,
    AuthorizedEditRoles = @EditRoles
WHERE
    ModuleID = @ModuleID




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

