SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CreateGroupsTable]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[CreateGroupsTable]
GO












CREATE       PROCEDURE dbo.CreateGroupsTable
(
	@AbstractionSize INT,
	@AutomaticOffset BIT = 1,
	@LargestCoordX INT = NULL,
	@SmallestCoordX INT = NULL,
	@LargestCoordZ INT = NULL,
	@SmallestCoordZ INT = NULL
)
AS



-- gets the smallest and largest coords
IF @AutomaticOffset = 1
BEGIN

	-- Largest
	SELECT @LargestCoordX = MAX(X)
	FROM ObjectInstance
	
	SELECT @LargestCoordZ = MAX(Z)
	FROM ObjectInstance

	SELECT @SmallestCoordX = MIN(X)
	FROM ObjectInstance

	SELECT @SmallestCoordZ = MIN(Z)
	FROM ObjectInstance
END

-- Iterator
DECLARE @IteratorX INT
DECLARE @IteratorZ INT

SET @IteratorX = @SmallestCoordX


-- Populate the #Groups table
WHILE @IteratorX <= @LargestCoordX --+ @AbstractionSize 
BEGIN

	SET @IteratorZ = @SmallestCoordZ

	WHILE @IteratorZ <= @LargestCoordZ --+ @AbstractionSize
	BEGIN

		INSERT INTO #Groups
			(GroupXSimple,
			GroupZSimple,
			GroupXStart,
			GroupXEnd,
			GroupZStart,
			GroupZEnd)
		VALUES(	(@IteratorX) / @AbstractionSize,
			(@IteratorZ) / @AbstractionSize,
			@IteratorX,
			@IteratorX + @AbstractionSize - 1,
			@IteratorZ,
			@IteratorZ + @AbstractionSize - 1)

		SET @IteratorZ = @IteratorZ + @AbstractionSize
	END

	SET @IteratorX = @IteratorX + @AbstractionSize
END














GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

