SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CreateResource]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[CreateResource]
GO




CREATE PROCEDURE dbo.CreateResource
(
	@ResourceName NVARCHAR(50),
	@ResourceFileExtension NVARCHAR(50),
	@PlayerID INT,
	@Description NTEXT = NULL,
	@ResourcePak NVARCHAR(50) = NULL,
	@EnumResourceTypeID INT
)

AS

	INSERT INTO Resource
		(ResourceName,
		ResourceFileExtension,
		PlayerID,
		Description,
		ResourcePak,
		EnumResourceTypeID,
		CreationTime)
	VALUES
		(@ResourceName,
		@ResourceFileExtension,
		@PlayerID,
		@Description,
		@ResourcePak,
		@EnumResourceTypeID,
		GetDATE())		
DECLARE @ModelID INT
SET @ModelID = @@IDENTITY
SELECT @ModelID

	RETURN 




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

