SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PO_AddModule]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[PO_AddModule]
GO




CREATE PROCEDURE PO_AddModule
(
    @TabID          int,
    @ModuleOrder    int,
    @ModuleTitle    nvarchar(256),
    @PaneName       nvarchar(50),
    @ModuleDefID    int,
    @CacheTime      int,
    @EditRoles      nvarchar(256),
    @ShowMobile     bit,
    @ModuleID       int OUTPUT
)
AS
INSERT INTO PO_Modules (
    TabID,
    ModuleOrder,
    ModuleTitle,
    PaneName,
    ModuleDefID,
    CacheTime,
    AuthorizedEditRoles,
    ShowMobile
) 
VALUES (
    @TabID,
    @ModuleOrder,
    @ModuleTitle,
    @PaneName,
    @ModuleDefID,
    @CacheTime,
    @EditRoles,
    @ShowMobile
)
SELECT 
    @ModuleID = @@Identity




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

