SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PO_UpdateRole]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[PO_UpdateRole]
GO




CREATE PROCEDURE PO_UpdateRole
(
    @RoleID      int,
    @RoleName    nvarchar(50)
)
AS
UPDATE
    PO_Roles
SET
    RoleName = @RoleName
WHERE
    RoleID = @RoleID




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

