SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CreateMobile]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[CreateMobile]
GO





CREATE PROCEDURE CreateMobile
@TemplateObjectName nvarchar(16), @ModelID int, @PlayerID int,
@EnumRaceID int, @Level int,
@Strength int, @Constitution int, @Cognition int, @Willpower int, @Dexterity int, 
@Hitpoints int, @GoldCarried int, @GoldBanked int, @EnumSexID int, @EnumMobileSizeID int, @EnumMobileStateID int,

@X int, @Y int, @Z int,
@RotationX int, @RotationY int, @RotationZ int
AS
declare @TemplateObjectID int
set NOCOUNT on
set XACT_ABORT on
begin transaction
insert into TemplateObject
values( @TemplateObjectName, @ModelID, default, @PlayerID, @PlayerID, getdate(), getdate()  )
set @TemplateObjectID = SCOPE_IDENTITY()
insert into TemplateMobile
values ( @TemplateObjectID, @EnumRaceID, @Level,
    @Strength, @Constitution, @Cognition, @Willpower, @Dexterity,
    @GoldCarried, @GoldBanked, @EnumSexID, @EnumMobileSizeID, @EnumMobileStateID
)
insert into ObjectInstance
values ( @TemplateObjectID, @X, @Y, @Z, @RotationX, @RotationY, @RotationZ, default, default )
commit transaction







GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

