SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PO_GetRolesByUser]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[PO_GetRolesByUser]
GO




CREATE  PROCEDURE PO_GetRolesByUser
(
    @Email         nvarchar(100)
)
AS
SELECT  
    PO_Roles.RoleName,
    PO_Roles.RoleID
FROM
    PO_UserRoles
  INNER JOIN 
    Player ON PO_UserRoles.UserID = Player.PlayerID
  INNER JOIN 
    PO_Roles ON PO_UserRoles.RoleID = PO_Roles.RoleID
WHERE   
    Player.Email = @Email




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

