SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CreateCharacter]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[CreateCharacter]
GO






CREATE  PROCEDURE CreateCharacter
@TemplateObjectName nvarchar(16), @ModelID int, @PlayerID int,
@EnumRaceID int
AS
declare @TemplateObjectID int
set NOCOUNT on
set XACT_ABORT on
SET @ModelID = 38
DECLARE @Level INT
SET @Level = 1
DECLARE @EnumMobileStateID INT
SET @EnumMobileStateID = 1
DECLARE @Strength INT
DECLARE @Constitution INT
DECLARE @Cognition INT
DECLARE @Willpower INT
DECLARE @Dexterity INT
DECLARE @GoldCarried INT
DECLARE @GoldBanked INT
DECLARE @EnumSexID INT
DECLARE @EnumMobileSizeID INT
SET @EnumSexID = 1
SET @GoldBanked = 1
SET @GoldCarried = 1
SELECT @Strength = 15 + StrengthModifier FROM EnumRace WHERE EnumRaceID = @EnumRaceID
SELECT @Constitution = 15 + ConstitutionModifier FROM EnumRace WHERE EnumRaceID = @EnumRaceID
SELECT @Dexterity = 15 + DexterityModifier FROM EnumRace WHERE EnumRaceID = @EnumRaceID
SELECT @Willpower = 15 + WillpowerModifier FROM EnumRace WHERE EnumRaceID = @EnumRaceID
SELECT @Cognition= 15 + CognitionModifier FROM EnumRace WHERE EnumRaceID = @EnumRaceID
SELECT @EnumMobileSizeID = EnumMobileSizeID FROM EnumRace WHERE EnumRaceID = @EnumRaceID
begin transaction
insert into TemplateObject
values( @TemplateObjectName, @ModelID, default, @PlayerID, @PlayerID, getdate(), getdate()  )
set @TemplateObjectID = SCOPE_IDENTITY()
insert into TemplateMobile
values ( @TemplateObjectID, @EnumRaceID, @Level,
    @Strength, @Constitution, @Cognition, @Willpower, @Dexterity,
    @GoldCarried, @GoldBanked, @EnumSexID, @EnumMobileSizeID, @EnumMobileStateID
)
insert into ObjectInstance
values ( @TemplateObjectID, 0,0,0,1,0,0, default, default )
DECLARE @ObjectInstanceID INT
SET @ObjectInstanceID = SCOPE_IDENTITY()
INSERT INTO MobilePossesableByPlayer
	SELECT @ObjectInstanceID,
		@PlayerID
commit transaction





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

