SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[SelectPlayerByPlayerKey]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[SelectPlayerByPlayerKey]
GO






CREATE  PROCEDURE dbo.SelectPlayerByPlayerKey
(
	@PlayerKey UNIQUEIDENTIFIER
)

AS

IF EXISTS(SELECT * 
	FROM Player
	WHERE PlayerKey = @PlayerKey )
BEGIN
	SELECT * 
	FROM Player
	WHERE PlayerKey = @PlayerKey 
END
ELSE
BEGIN
	RAISERROR('Could not locate Player with the specified PlayerKey.', 14, 1, @PlayerKey)
END








GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

