SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CreatePlayer]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[CreatePlayer]
GO







CREATE     PROCEDURE dbo.CreatePlayer
(
	@PlayerEmail NVARCHAR(255),
	@PlayerPassword NVARCHAR(50)
)
AS
IF EXISTS(SELECT * 
		FROM Player
		WHERE UPPER(Email) = UPPER(@PlayerEmail) )
BEGIN
		RAISERROR('The user ''%s'' already exists.', 14, 1, @PlayerEmail)
		RETURN
END
ELSE
BEGIN
	DECLARE @NewPlayerID INT
	DECLARE @PlayerKey UNIQUEIDENTIFIER
	INSERT INTO Player
		(Email,
		[Password],
		PingedOn,
		PlayerKey,
		TrustLevel)
	VALUES
		(@PlayerEmail,
		@PlayerPassword,
		GetUTCDate(),
		newid(),
		1)
	SET @NewPlayerID = SCOPE_IDENTITY()
	SELECT @NewPlayerID
END







GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

