SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CreateMirror]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[CreateMirror]
GO




CREATE PROCEDURE CreateMirror
@TemplateObjectID int,
@X int, @Y int, @Z int,
@RotationX int, @RotationY int, @RotationZ int
AS
SET NOCOUNT ON
insert into ObjectInstance values (
    @TemplateObjectID,
    @X, @Y, @Z,
    @RotationX, @RotationY, @RotationZ, default, default
)




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

