SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PO_GetAuthRoles]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[PO_GetAuthRoles]
GO




CREATE PROCEDURE PO_GetAuthRoles
(
    @PortalID    int,
    @ModuleID    int,
    @AccessRoles nvarchar (256) OUTPUT,
    @EditRoles   nvarchar (256) OUTPUT
)
AS
SELECT  
    @AccessRoles = PO_Tabs.AuthorizedRoles,
    @EditRoles   = PO_Modules.AuthorizedEditRoles
    
FROM    
    PO_Modules
  INNER JOIN
    PO_Tabs ON PO_Modules.TabID = PO_Tabs.TabID
    
WHERE   
    PO_Modules.ModuleID = @ModuleID
  AND
    PO_Tabs.PortalID = @PortalID




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

