SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PO_GetSingleContact]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[PO_GetSingleContact]
GO




CREATE PROCEDURE PO_GetSingleContact
(
    @ItemID int
)
AS
SELECT
    CreatedByUser,
    CreatedDate,
    Name,
    Role,
    Email,
    Contact1,
    Contact2
FROM
    PO_Contacts
WHERE
    ItemID = @ItemID




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

