SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PO_GetDocumentContent]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[PO_GetDocumentContent]
GO




CREATE PROCEDURE PO_GetDocumentContent
(
    @ItemID int
)
AS
SELECT
    Content,
    ContentType,
    ContentSize,
    FileFriendlyName
FROM
    PO_Documents
WHERE
    ItemID = @ItemID




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

