SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PO_UserLogin]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[PO_UserLogin]
GO




CREATE Procedure PO_UserLogin
(
    @Email    nvarchar(100),
    @Password nvarchar(20),
    @UserName nvarchar(100) OUTPUT
)
AS
SELECT
    @UserName = Email
FROM
    Player
WHERE
    Email = @Email
  AND
    Password = @Password




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

