SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetTerrain]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetTerrain]
GO






CREATE PROCEDURE dbo.GetTerrain
(
	@TerrainInstanceID INT		
)
AS

SELECT TemplateObject.*,
	TemplateTerrain.*,
	ObjectInstance.*,
	Resource.ResourceName,
	Resource.ResourceFileExtension,
	Resource.ResourcePak
FROM TemplateObject 
	INNER JOIN TemplateTerrain
		ON TemplateObject.TemplateObjectID = TemplateTerrain.TemplateObjectID
	INNER JOIN ObjectInstance
		ON TemplateTerrain.TemplateObjectID = ObjectInstance.TemplateObjectID
	INNER JOIN Resource
		ON TemplateObject.ResourceID = Resource.ResourceID
WHERE ObjectInstance.ObjectInstanceID = @TerrainInstanceID	
	
	
	RETURN 







GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

