SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PO_AddUserRole]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[PO_AddUserRole]
GO




CREATE Procedure PO_AddUserRole
(
    @UserID int,
    @RoleID int
)
AS
SELECT 
    *
FROM
    PO_UserRoles
WHERE
    UserID=@UserID
    AND
    RoleID=@RoleID
/* only insert if the record doesn't yet exist */
IF @@Rowcount < 1
    INSERT INTO PO_UserRoles
    (
        UserID,
        RoleID
    )
    VALUES
    (
        @UserID,
        @RoleID
    )




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

