SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[LogonPlayer]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[LogonPlayer]
GO




CREATE  PROCEDURE LogonPlayer
(
	@Email NVARCHAR(255),
	@Password NVARCHAR(50)
	
)
AS
SELECT *
FROM Player
WHERE Email = @Email
	AND [Password] = @Password
	RAISERROR('LoginUser called.', 14, 1)




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

