SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PO_AddModuleDefinition]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[PO_AddModuleDefinition]
GO




CREATE PROCEDURE PO_AddModuleDefinition
(
    @PortalID     int,
    @FriendlyName nvarchar(128),
    @DesktopSrc   nvarchar(256),
    @MobileSrc    nvarchar(256),
    @ModuleDefID  int OUTPUT
)
AS
INSERT INTO PO_ModuleDefinitions
(
    PortalID,
    FriendlyName,
    DesktopSrc,
    MobileSrc
)
VALUES
(
    @PortalID,
    @FriendlyName,
    @DesktopSrc,
    @MobileSrc
)
SELECT
    @ModuleDefID = @@Identity




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

