SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[RaiseTerrain]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[RaiseTerrain]
GO


CREATE  PROCEDURE dbo.RaiseTerrain
(
	@TerrainInstanceID INT
)

AS

UPDATE ObjectInstance
SET Y = Y + 1
WHERE ObjectInstanceID = @TerrainInstanceID
	
	
	RETURN 


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

