SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PO_GetPrevMessageID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[PO_GetPrevMessageID]
GO




CREATE Procedure PO_GetPrevMessageID
(
    @ItemID int,
    @PrevID int OUTPUT
)
AS
DECLARE @CurrentDisplayOrder as nvarchar(750)
DECLARE @CurrentModule as int
/* Find DisplayOrder of current item */
SELECT
    @CurrentDisplayOrder = DisplayOrder,
    @CurrentModule = ModuleID
FROM
    PO_Discussion
WHERE
    ItemID = @ItemID
/* Get the previous message in the same module */
SELECT Top 1
    @PrevID = ItemID
FROM
    PO_Discussion
WHERE
    DisplayOrder < @CurrentDisplayOrder
    AND
    ModuleID = @CurrentModule
ORDER BY
    DisplayOrder DESC
/* already at the beginning of this module? */
IF @@Rowcount < 1
    SET @PrevID = null




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

