SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CreateTerrain]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[CreateTerrain]
GO






CREATE  PROCEDURE dbo.CreateTerrain
	(
@AreaID int, @TemplateObjectName nvarchar(16), @ResourceID int, @PlayerID int,
@EnumTerrainTypeID int,
@X int, @Y int, @Z int,
@RotationX int, @RotationY int, @RotationZ int
	)
AS
	declare @TemplateObjectID int
	SET NOCOUNT ON
	SET XACT_ABORT ON
	begin transaction
insert into TemplateObject
values ( @TemplateObjectName, @ResourceID, default, @PlayerID, @PlayerID, getdate(), getdate() )
set @TemplateObjectID = SCOPE_IDENTITY()
insert into TemplateTerrain
values ( @TemplateObjectID, @EnumTerrainTypeID, @AreaID  )
insert into ObjectInstance
values ( @TemplateObjectID, @X, @Y, @Z, @RotationX, @RotationY, @RotationZ, default, default )
	commit
	RETURN





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

