SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PO_AddUser]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[PO_AddUser]
GO




CREATE Procedure PO_AddUser
(
    @Name     nvarchar(50),
    @Email    nvarchar(100),
    @Password nvarchar(20),
    @UserID   int OUTPUT
)
AS
INSERT INTO PO_Users
(
    Name,
    Email,
    Password
)
VALUES
(
    @Name,
    @Email,
    @Password
)
SELECT
    @UserID = @@Identity




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

