SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[UpdateResource]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[UpdateResource]
GO




CREATE PROCEDURE dbo.UpdateResource
(
	@ResourceID INT,
	@ResourceName NVARCHAR(50),
	@ResourceFileExtension NVARCHAR(50),
	@PlayerID INT,
	@Description NTEXT = NULL,
	@ResourcePak NVARCHAR(50) = NULL,
	@EnumResourceTypeID INT
)
AS
UPDATE Resource
	SET ResourceName = @ResourceName,
	ResourceFileExtension = @ResourceFileExtension,
	PlayerID = @PlayerID,
	Description = @Description,
	ResourcePak = @ResourcePak,
	EnumResourceTypeID = @EnumResourceTypeID
	RETURN 




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

