SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PO_GetModuleSettings]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[PO_GetModuleSettings]
GO




CREATE PROCEDURE PO_GetModuleSettings
(
    @ModuleID int
)
AS
SELECT
    SettingName,
    SettingValue
FROM
    PO_ModuleSettings
WHERE
    ModuleID = @ModuleID




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

