SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PO_GetSingleEvent]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[PO_GetSingleEvent]
GO




CREATE PROCEDURE PO_GetSingleEvent
(
    @ItemID int
)
AS
SELECT
    CreatedByUser,
    CreatedDate,
    Title,
    ExpireDate,
    Description,
    WhereWhen
FROM
    PO_Events
WHERE
    ItemID = @ItemID




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

