SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CreateWieldable]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[CreateWieldable]
GO





CREATE PROCEDURE dbo.CreateWieldable
	(
@TemplateObjectName nvarchar(16), @ModelID int, @PlayerID int,
@Value int, @Weight int,
@Damage int, @Hitroll int, @EnumDamageTypeID int, @EnumWeaponSizeID int,
@X int, @Y int, @Z int,
@RotationX int, @RotationY int, @RotationZ int
	)
AS
	declare @TemplateObjectID int
	SET NOCOUNT ON
	SET XACT_ABORT ON
	begin transaction
insert into TemplateObject
values ( @TemplateObjectName, @ModelID, default, @PlayerID, @PlayerID, getdate(), getdate() )
set @TemplateObjectID = SCOPE_IDENTITY()
insert into TemplateItem
values ( @TemplateObjectID, @Value, @Weight, default )
insert into TemplateItemWieldable
values ( @TemplateObjectID, @Damage, @Hitroll, @EnumDamageTypeID, @EnumWeaponSizeID )
insert into ObjectInstance
values ( @TemplateObjectID, @X, @Y, @Z, @RotationX, @RotationY, @RotationZ, default, default )
	commit
	RETURN 







GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

