SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PO_DeleteModule]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[PO_DeleteModule]
GO




CREATE PROCEDURE PO_DeleteModule
(
    @ModuleID       int
)
AS
DELETE FROM 
    PO_Modules 
WHERE 
    ModuleID = @ModuleID




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

