SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PO_GetRoleMembership]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[PO_GetRoleMembership]
GO




CREATE PROCEDURE PO_GetRoleMembership
(
    @RoleID  int
)
AS
SELECT  
    PO_UserRoles.UserID,
    Name,
    Email
FROM
    PO_UserRoles
    
INNER JOIN 
    PO_Users On PO_Users.UserID = PO_UserRoles.UserID
WHERE   
    PO_UserRoles.RoleID = @RoleID




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

