<configuration>

    <!-- application specific settings -->
    <appSettings>
		<add key="ConnectionString" value="Data Source=redfern.sydneh.com;Integrated Security=SSPI;Initial Catalog=strive;Pooling=True" />
    </appSettings>

    <system.web>

        <!-- set debugmode to false for running application -->
        <compilation debug="false" />

        <!--IBuySpy Portal supports either Forms authentication (Internet)
            or Windows authentication (for intranets).  Forms Authentication is
            the default.  To change to Windows authentication, comment the 
            <authentication mode="Forms"> section below, and uncomment the 
            <authentication mode="Windows"> section. -->
            
        <!--<authentication mode="Forms">
            <forms name=".ASPXAUTH" protection="All" timeout="60" />
        </authentication>-->
        
        <!--<authentication mode="Windows" />
        <authorization>
            <deny users="?" />
        </authorization>--> 
        <customErrors mode="Off" />
        <pages validateRequest="false" enableViewState="true"/>
        
        <httpRuntime useFullyQualifiedRedirectUrl="true" />
        
        <!-- Adapter configuration for mobile controls used in the portal -->
        <mobileControls>
            <device name="PortalHtmlDeviceAdapters" inheritsFrom="HtmlDeviceAdapters">
                <control name="www.strive3d.net.MobileControls.TabbedPanel, Portal" adapter="www.strive3d.net.MobileControls.HtmlTabbedPanelAdapter,Portal" />
                <control name="www.strive3d.net.MobileControls.LinkCommand, Portal" adapter="www.strive3d.net.MobileControls.HtmlLinkCommandAdapter,Portal" />
            </device>
            <device name="PortalChtmlDeviceAdapters" inheritsFrom="ChtmlDeviceAdapters">
                <control name="www.strive3d.net.MobileControls.TabbedPanel, Portal" adapter="www.strive3d.net.MobileControls.ChtmlTabbedPanelAdapter,Portal" />
            </device>
            <device name="PortalWmlDeviceAdapters" inheritsFrom="WmlDeviceAdapters">
                <control name="www.strive3d.net.MobileControls.TabbedPanel, Portal" adapter="www.strive3d.net.MobileControls.WmlTabbedPanelAdapter,Portal" />
            </device>
        </mobileControls>
        
        <!-- Mobile device filters used for customizing portal -->
        <deviceFilters>
            <filter name="isJScript" compare="javascript" argument="true" />
            <filter name="isPocketIE" compare="browser" argument="Pocket IE" />
            <filter name="isHTML32" compare="preferredRenderingType" argument="html32" />
        </deviceFilters>
        
        <identity impersonate="true" />
    </system.web>

</configuration>
